body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/background.jpeg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; }

.row {
  padding-top: 15px;
  padding-bottom: 15px; }

.rewriteContainer {
  border-radius: .45rem;
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #e0e0e0; }

.testTextContainer {
  min-height: 340px; }

.sideMenu {
  height: 450px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: .45rem;
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #e0e0e0; }

.appConsole {
  border-radius: .45rem;
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #e0e0e0;
  background-color: #3a3a3a;
  height: 200px;
  overflow-y: hidden;
  display: flex; }

.appConsole:hover {
  overflow-y: auto; }

.consoleListContainer {
  padding: 0 20px;
  width: 100%;
  margin-top: auto;
  margin-bottom: inherit; }

.consoleMessage {
  list-style: none; }

.rewriteContainer input {
  background-color: #1e1e1e; }

.btnStartText:before {
  content: 'Start Test'; }

.btnStopText:before {
  content: 'Stop Test'; }

.error {
  color: #e50000; }

.current {
  font-weight: bold; }

.complete {
  color: #00ba31; }

.typingInput {
  margin-left: 10px;
  margin-right: 10px; }

.typingInput:focus {
  color: #e0e0e0;
  background-color: #3a3a3a;
  border: 1px solid #fff;
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.99); }

.typingInput:disabled {
  color: #e0e0e0;
  background-color: #1e1e1e; }

.inputError:focus {
  border-color: #dc3545;
  box-shadow: 0px 0px 24px 0px rgba(255, 0, 0, 0.99);
  color: #e0e0e0; }

.scoreList {
  list-style: none;
  color: #e0e0e0; }

.titleContainer {
  color: #e0e0e0; }
  .titleContainer h1 {
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .titleContainer h3 {
    font-size: 35px;
    padding-bottom: 30px;
    text-align: center; }

.navigate {
  padding-top: 50px; }
  .navigate button {
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
    height: 80px;
    background: rgba(30, 30, 30, 0.3);
    border: 1px solid #e0e0e0; }
  .navigate button:hover {
    background: rgba(30, 30, 30, 0.8);
    border: 1px solid #fff;
    box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.99); }
  .navigate button:disabled {
    background: rgba(30, 30, 30, 0.8);
    border: 1px solid #fff;
    box-shadow: none; }
