/* You can add global styles to this file, and also import other style files */
.row{
    padding-top: 15px;
    padding-bottom: 15px;
}
.rewriteContainer {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.appConsole {
    background-color: #1e1e1e;
    color: #e0e0e0;
    overflow-y: hidden;
    max-height: 200px;
}
.appConsole:hover {
    overflow-y: auto;
}
.consoleListContainer {
    padding: 0 20px;
    width: 100%;
}
.consoleMessage {
    list-style: none;
}
.rewriteContainer input {
    background-color: #1e1e1e;
}
.btnStartText:before {
    content: 'Start Test';
}
.btnStopText:before {
    content: 'Stop Test';
}
.complete {
    color: rgb(0, 186, 49)
}