$primary-dark: #1e1e1e;
$secondary-dark: rgba(58, 58, 58, 0.35);
$font-bright: #e0e0e0;
$border-color: rgba(255, 255, 255, 0.5);
@mixin container-style {
  border-radius: .45rem;
  background: rgba(30, 30, 30, 0.7);
  border: 1px solid $border-color;
  color: $font-bright;
}

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/background.jpeg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rewriteContainer {
  @include container-style();
}

.testTextContainer {
  min-height: 340px;
  font-size: 20px;
  vertical-align: center;
  position: relative;
  div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.sideMenu {
  height: 450px;
  padding-left: 25px;
  padding-right: 25px;
  @include container-style();
}

.appConsole {
  @include container-style();
  background-color: $secondary-dark;
  height: 200px;
  overflow-y: hidden;
  display: flex;
  &:hover {
    overflow-y: auto;
  }
}

.consoleListContainer {
  padding: 0 20px;
  width: 100%;
  margin-top: auto;
  margin-bottom: inherit;
}

.consoleMessage {
  list-style: none;
}

.rewriteContainer input {
  background-color: $primary-dark;
}

.btnStartText:before {
  content: 'Start Test';
}

.btnStopText:before {
  content: 'Stop Test';
}

.error {
  color: #e50000;
}

.current {
  font-weight: bold;
}

.complete {
  color: #00ba31;
}

.typingInput {
  margin-left: 10px;
  margin-right: 10px;
  &:focus {
    color: $font-bright;
    background-color: $secondary-dark;
    border: 1px solid #fff;
    box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.99);
  }
  &:disabled {
    color: $font-bright;
    background-color: $primary-dark;
  }
}

.inputError:focus {
  border-color: #dc3545;
  box-shadow: 0px 0px 24px 0px rgba(255, 0, 0, 0.99);
  color: $font-bright;
}

.scoreList {
  list-style: none;
  color: $font-bright;
}

.titleContainer {
  color: $font-bright;
  text-shadow: 1px 1px 5px #000000;
  h1 {
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h3 {
    font-size: 35px;
    padding-bottom: 30px;
    text-align: center;
  }
  li {
    padding-bottom: 10px;
  }
}

.tableContainer {
  table {
    color: $font-bright;
    border-collapse: inherit;
    border-spacing: 0 1.2em;
  }
  thead {
    th {
      text-align: center;
    }
    th:first-child {
      text-align: left;
    }
  }
  tbody {
    tr {
      background: rgba(30, 30, 30, 0.8);
      text-align: center;
    }
    th,
    td {
      padding: 1.4rem;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }
  .tableLeftSide {
    border-left: 1px solid $border-color;
    border-radius: .45rem 0 0 .45rem;
  }
  .tableRightSide {
    border-right: 1px solid $border-color;
    border-radius: 0 .45rem .45rem 0;
  }
}

.navigate {
  padding-top: 50px;
  button {
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
    height: 80px;
    background: rgba(30, 30, 30, 0.3);
    border: 1px solid $font-bright;
    &:hover {
      background: rgba(30, 30, 30, 0.8);
      border: 1px solid #fff;
      box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.99);
    }
    &:disabled {
      background: rgba(30, 30, 30, 0.8);
      border: 1px solid #fff;
      box-shadow: none;
    }
  }
}
